.modal-wrapper {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background-color: rgba(189, 189, 189, 0.9);
}

.modal-container {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
  padding: 25px;
  background-color: #f5f5f5;
  border-radius: 5px;
  border: 2px solid #000000;
  outline: none;
  transition: all 0.3s ease-in;
}

.modal-btn {
  padding: 10px 20px;
  background-color: #007bff; /* blue */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.modal-btn:hover {
  background-color: #0056b3; /* darker blue */
}
