.main_wrapper {
position: relative;
width: 100%;
}

/* Overlay so HubSpot doesn’t break clicks */
.modal_overlay {
position: relative;
z-index: 9999;
}

.modal_wrapper {
position: fixed;
inset: 0;
background-color: rgba(0, 0, 0, 0.7);
}

.modal_container {
position: fixed;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
max-width: 600px;
padding: 25px;
background-color: #fff;
border-radius: 8px;
border: 2px solid #000000;
transition: all 0.3s ease-in-out;
z-index: 10000;
}

.modal_btn {
padding: 10px 20px;
background-color: #007bff;
color: #fff;
border: none;
border-radius: 5px;
cursor: pointer;
font-size: 16px;
max-width: fit-content;
}

.modal_btn:hover {
background-color: #0056b3;
}

.content {
margin-top: 20px;
}
