h1{text-align: center;}
.accordion_btn {
  padding: 5px 20px;
  border-radius: 7px;
  cursor: pointer;
  background-color: #89bbaa;
  font-size: 16px;
  transition: all 0.5s ease;
  margin-left: 10px;
}

/* MAIN ACCORDION */
.section_accordion {
  width: 100%;
  max-width: 1100px; 
  margin: 0 auto;
  padding: 0;

}

.section_accordion li {
  background-color: #212f3c;
  padding: 10px 25px;
  border-radius: 12px;
  border-left: 5px solid #fff;
  list-style: none;
  margin-bottom: 20px;
}

.section_accordion .active_btn {
  background-color: #bc756d;
  color: #fff;
}

/* Accordion grid */
.accordion_grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion_question {
  font-weight: bold;
  font-size: 16px;
  line-height: 1;
}
.accordion_question p{
	margin-bottom: 0;
}
/* ================================================ */
/* Media Queries */
@media screen and (max-width: 980px) {
  .section_form form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section_post ol {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 720px) {
  .section_post ol {
    grid-template-columns: repeat(1, 1fr);
  }
}
