/* Accordion.css */

.accordion {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  border-radius: 6px;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.accordion_item + .accordion_item {
  border-top: 1px solid #ddd;
}

.accordion_header {
  width: 100%;
  background: #fff;
  padding: 15px 20px;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
}

.accordion_header.open {
  background: #f1f1f1;
}

.accordion_icon {
  font-size: 20px;
  font-weight: bold;
}

.accordion_content {
  max-height: 0;
  overflow: hidden;
  background: #fafafa;
  /* transition: max-height 0.3s ease, padding 0.3s ease; */
}

.accordion_content.open {
  max-height: 300px;
  padding: 15px 20px;
}

.accordion_content_inner {
  font-size: 15px;
  color: #333;
}
