.section_accordion {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  justify-content: center;
  margin-top: 6.4rem;
}

.section_accordion li {
  background-color: #212f3c;
  padding: 1.6rem;
  border-radius: 0.3rem;
  list-style: none;
  border-left: 0.2rem solid #fff;
}

.active_btn {
  background-color: #e74c3c;
  color: #fff;
}

.active_btn:hover {
  color: #fff;
  box-shadow: #a7360d 0px 7px 19px 0px;
}

.accordion_grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion_question {
  font-weight: bold;
  font-family: "Syne";
  letter-spacing: 0.1rem;
  font-size: 1.7rem;
}

.accordion_answer {
  margin-top: 1rem;
  color: #fff;
  font-size: 1.5rem;
  line-height: 1.5;
}
